/*@font-face {font-family: "Louize Display trial"; src: local('typo/Louize Display trial.ttf'),format(".ttf") }

@font-face {
    font-family: 'Louize Display trial';
    src: url('LouizeDisplaytrial-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louize Display trial';
    src: url('LouizeDisplaytrial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louize Display trial';
    src: url('LouizeDisplaytrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louize Display trial';
    src: url('LouizeDisplaytrial-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louize Display trial';
    src: url('LouizeDisplaytrial-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louize Display trial';
    src: url('LouizeDisplaytrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */
